<ng-template>
  <div class="note" cdkDrag>
    <div class="header" cdkDragHandle>
      <span class=header-text>Sticky Notes</span>
    </div>
    <div class="content" [innerHTML]="content"></div>
  </div>
</ng-template>
