/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.grabber {
  border-radius: 5px;
  height: 10px;
  width: 10px;
  background: #00c4ff;
  position: fixed;
  cursor: pointer;
}
